<script src="https://d3js.org/d3.v4.js"></script>

<div style="min-width: 100px; max-width: 450px; width:100%">
    <div id="ode_pop_phase_legend" style="float:left; max-width: 150px; width: 100%; height: fit-content;">
    </div>
    <div id="ode_pop_phase_chart" style="width:100%;">
    </div>
</div>
<script>
let ode_pop = {
    prey_color: "blue",
    predator_color: "green",
    draw_pop_graph: function() {
        // set the dimensions and margins of the graph
        var margin = {top: 0, right: 40, bottom: 40, left: 40},
            width = 450 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        var total_width = width + margin.left + margin.right;
        var total_height = height + margin.top + margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#ode_pop_phase_chart")
        .append("svg")
            .attr("viewBox", "0 0 " + total_width + " " + total_height)
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var xDomain = [0,100];
        var yDomain = [0,1000];

        var prey_c = {i_density: 10, growth: 1.1, death: 0.4}
        var predator_c = {i_density: 10, growth: 0.1, death: 0.4}
        
        var yScale = d3.scaleLinear().range([height,0]).domain(yDomain);
        var xScale = d3.scaleLinear().range([0,width]).domain(xDomain);

        var eps = 0.001
        var x_space = d3.range(xDomain[0], xDomain[1], eps)

        var prey_growth = function(current_prey, current_predator, eps) {
            return prey_c.growth*eps*current_prey - prey_c.death*current_prey*eps*current_predator
        }
        var predator_growth = function(current_prey, current_predator, eps) {
            return predator_c.growth*current_prey*eps*current_predator - predator_c.death*eps*current_predator
        }

        var preys = []
        var predators = []

        var c_preys = d3.line()
                .x(function(i) { return xScale(x_space[i]) })
                .y(function(i) { return yScale(preys[i]) })

        var c_predators = d3.line()
            .x(function(i) { return xScale(x_space[i]) })
            .y(function(i) { return yScale(predators[i]) })

        predators_curve = svg.append('path')
            .attr('stroke', this.predator_color)
            .attr('fill', 'none')
            .attr('stroke-width', 2)
            .attr('stroke-dasharray', '5,5');

        preys_curve = svg.append('path')
            .attr('stroke', this.prey_color)
            .attr('fill', 'none')
            .attr('stroke-width', 1);

        bottomAxis = svg.append("g").attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(xScale));
        bottomAxis.append("text")
                .attr("class", "axis-title")
                .attr("y", 25)
                .attr("dy", ".71em")
                .attr("x", (width+margin.left)/2)
                .style("text-anchor", "end")
                .attr("fill", "black")
                .text("Tiempo");

        leftAxis = svg.append("g")
                .call(d3.axisLeft(yScale));
        leftAxis.append("text")
                .attr("class", "axis-title")
                .attr("transform", "rotate(-90)")
                .attr("y", -30)
                .attr("dy", ".71em")
                .attr("x", -(height-margin.bottom)/2)
                .style("text-anchor", "end")
                .attr("fill", "black")
                .text("Densidad");


        function updateGraph() {
            var x_space = d3.range(xDomain[0], xDomain[1], eps)

            preys = [prey_c.i_density]
            predators = [predator_c.i_density]

            x_space.forEach((_, i) => {
                preys.push(preys[i] + prey_growth(preys[i], predators[i], eps))
                predators.push(predators[i] + predator_growth(preys[i], predators[i], eps))
            });
            var vals = preys.concat(predators);
            yDomain = [Math.min(...vals), Math.max(...vals)];
            yScale = d3.scaleLinear().range([height,0]).domain(yDomain);
            xScale = d3.scaleLinear().range([0,width]).domain(xDomain);

            bottomAxis.transition()
                .call(d3.axisBottom(xScale))
            leftAxis.transition()
                .call(d3.axisLeft(yScale))

            predators_curve
                .attr('d', c_predators(d3.range(0, x_space.length, 1)))
            predators_length = predators_curve.node().getTotalLength();
            predators_curve
                .attr("stroke-dasharray", predators_length + " " + predators_length)
                .attr("stroke-dashoffset", predators_length)
                .transition()
                .ease(d3.easeLinear)
                .attr("stroke-dashoffset", 0)
                .duration(3000)

            preys_curve.attr('d', c_preys(d3.range(0, x_space.length, 1)))
            preys_length = preys_curve.node().getTotalLength();
            preys_curve
                .attr("stroke-dasharray", preys_length + " " + preys_length)
                .attr("stroke-dashoffset", preys_length)
            console.log(preys_length)
        };

        updateGraph();
    }
}
ode_pop.draw_graph();
</script>